body {
  background: radial-gradient(circle, rgba(231,239,241,1) 0%, rgba(220,125,27,1) 100%);
  font-family: fira-sans;
  }


.weather-app-wraper {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px;
  border: transparent;
  border-radius: 10px;
  max-width: 800px;
  height: 650px;
  background-color: #F6F7F9;
}