body {
  background: linear-gradient(0deg, rgba(190,183,185,1) 0%, rgba(240,224,181,1) 53%, rgba(255,255,255,1) 100%);
  font-family: fira-sans;
  }


.weather-app-wraper {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px;
  border: transparent;
  border-radius: 10px;
  max-width: 800px;
  height: 650px;
  background-color: #F6F7F9;
}