

.search-city {
  margin: 20px 10px 50px 20px;
  padding: 5px 10px;
  border: 2px solid #7e564e;
  border-radius: 5px;
}

.search-button {
  color: #fff;
  background-color: #ad766c;
  margin: 20px 10px 50px 0px;
  padding: 5px 10px;
  border: 2px solid #7e564e;
  border-radius: 5px;
}

.search-button:hover {
  color: #fff;
  background-color: #7e564e;
}

.material-symbols-outlined {
  position: relative;
  top:12px;
  font-size: 40px;
  color: #4f7a7e;
  margin-left: 20px;
}

.material-symbols-outlined:hover {
  color: #36595c;
}