.search-form{
margin-bottom: 50px;
}

.searchCity{
  text-align: center;
}

.search-city {
  margin: 20px 10px 20px 10px;
  padding: 5px 10px;
  border: 2px solid #BEB7B9;
  border-radius: 5px;
  
}

.search-button {
  color: #fff;
  background-color: #BEB7B9;
  margin: 20px 10px 20px 5px;
  padding: 5px 10px;
  border: 2px solid #BEB7B9;
  border-radius: 5px;
}

.search-button:hover {
  color: #fff;
  background-color: #727C85;
}

