.weatherOverview{
  background: radial-gradient(circle, rgba(187,211,241,1) 0%, rgba(231,239,241,1) 100%);
  border-radius: 5%;
  
}

.weatherIcon canvas{
  width: 200px;
}

.searchOutput{
  margin: 20px 0px 30px 0px;
  text-align: left;
  font-size: 18px;
  color: #3c3e40;
}

.currentLocation{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -10px;
}

.description{
  text-transform:capitalize;
  font-size: 24px;
}

ul {
  padding:0;
  color: #3c3e40;
  margin: 20px 10px 20px 10px;
}

li {
  list-style: none;
  text-align: center;
  font-size: 18px;
}

.icon{
  color:#BEB7B9;
}